@import "../node_modules/tailwindcss/tailwind.css";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2") format("woff2");
}

i {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";

  /* font-size: 1rem; */
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;

  /* line-height: 1; */
  vertical-align: text-bottom;
  white-space: nowrap;
  word-wrap: normal;
}
